In [58]:
class Musician():
    
    job = "Musician"
    
    def __init__(self,name,age,instrument):
        self.name = name
        self.age = age
        self.instrument = instrument
        
    def sing(self):
        print("sing sing sing")
    
    def __len__(self):
        return self.age
    
    def __str__(self):
        return self.name

In [59]:
james = Musician("James",50,"Guitar") #instance

In [60]:
james.age

50

In [61]:
james.job

'Musician'

In [62]:
james.sing()

sing sing sing

In [63]:
len(james)

50

In [64]:
print(james)

James

In [65]:
#inheritance

In [66]:
class Class1():
    
    def __init__(self):
        print("class 1 created")
    
    def method1(self):
        print("method 1")
        
    def method2(self):
        print("method 2")

In [67]:
class1Instance = Class1()

class 1 created

In [68]:
class1Instance.method1()

method 1

In [69]:
class Class2(Class1):
    def __init__(self):
        Class1.__init__(self)
        print("class 2 created")

In [70]:
class2Instance = Class2()

class 1 created
class 2 created

In [71]:
class2Instance.method1()

method 1

In [72]:
#polymorphism

In [73]:
class Apple():
    
    def __init__(self,name):
        self.name = name
    
    def information(self):
        return self.name + " 100 calories"

In [74]:
class Banana():
    
    def __init__(self,name):
        self.name = name
        
    def information(self):
        return self.name + " 200 calories"

In [76]:
banana = Banana("banana")

In [77]:
apple = Apple("apple")

In [78]:
fruitList = [banana,apple]

In [79]:
for fruit in fruitList:
    print(fruit.information())

banana 200 calories
apple 100 calories

In [80]:
#scope

In [81]:
number = 10

In [82]:
print(number)

10

In [83]:
number = 10
def multiply(num1):
    number = 5
    return num1 * number

In [84]:
multiply(10)

50

In [85]:
print(number)

10

In [88]:
number = 10
def multiply(num1):
    number = 5
    return num1 * number
print(multiply(20))
print(number)

100
10

In [89]:
#legb -> l-> local, e-> enclosing, g-> global, b->built-in

In [101]:
#global
myName = "Atil"

def myFunction():
    #enclosing
    myName = "James"
    
    def myFunction2():
        #local
        myName = "Lars"
        print(myName)
    
    myFunction2()

In [102]:
myFunction()

Lars

In [108]:
y = 10

def newFunction():
    global y
    y = 5
    print(y)

In [109]:
newFunction()

5

In [111]:
print(y)

5